.paragraph-heavy {
    font-weight: 700;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.margin-20 {
    margin-bottom: 20px;
    margin-top: 20px;
}

.background-blue {
    color: white;
    background-color: blue;
    height: 100px;
    width: 300px;
}

#circle {
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}

#circle p {
    padding-top: 15px;
    width: 30px;
    margin: auto;
}

div {
    margin-left: 30px;
}